{% extends "home.html" %}
{% block content %}
    <div class="row">
        <div class="offset-3 col-6">
            <h3>Tạo mới quận huyện</h3>
            <p></p>
            {% if district %}
                {% if district.name.errors or district.code.errors %}
                    <div class="text-danger">
                        {% for error in district.name.errors %}
                            <p>- {{ error }}</p>
                        {% endfor %}
                        {% for error in district.code.errors %}
                            <p>- {{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
            <form method="POST" action="{{ url_for('store_district') }}">
                <div class="form-group">
                    <label for="inputName">Tên</label>
                    <input type="text" name="name" class="form-control" id="inputName" placeholder="Tên quận huyện">
                </div>
                <div class="form-group">
                    <label for="inputCode">Mã</label>
                    <input type="text" name="code" class="form-control" id="inputCode" placeholder="Mã quận huyện">
                </div>
                <div class="form-group">
                    <label for="inputCityId">Mã thành phố</label>
                    <select class="custom-select" name="city_id" id="inputCityId" placeholder="Chọn mã thành phố">
                        <option value="">Chọn thành phố</option>}
                        {% for city in cities %}
                            <option value="{{ city.id }}">{{ city.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Tạo mới</button>
            </form>
        </div>
    </div>
{% endblock content %}