{% extends "home.html" %}
{% block content %}
    <div class="row">
        <div class="offset-3 col-6">
            <h3>Chỉnh sửa quận huyện</h3>
            <p></p>
            {% if district and districtError %}
                {% if districtError.name.errors or districtError.code.errors %}
                    <div class="text-danger">
                        {% for error in districtError.name.errors %}
                            <p>- {{ error }}</p>
                        {% endfor %}
                        {% for error in districtError.code.errors %}
                            <p>- {{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}
            <form method="POST" action="{{ url_for('store_district') }}">
                <div class="form-group">
                    <label for="inputName">Tên</label>
                    <input type="text" name="name" value="{{ district.name }}" class="form-control" id="inputName" placeholder="Tên quận huyện">
                </div>
                <div class="form-group">
                    <label for="inputCode">Mã</label>
                    <input type="text" name="code" value="{{ district.code }}" class="form-control" id="inputCode" placeholder="Mã quận huyện">
                </div>
                <div class="form-group">
                    <label for="inputCityId">Mã thành phố</label>
                    <select class="custom-select" name="city_id" id="inputCityId" placeholder="Chọn mã thành phố">
                        <option value="">Chọn thành phố</option>}
                        {% for city in cities %}
                            {% if city.id == district.city_id %}
                                <option selected value="{{ city.id }}">{{ city.name }}</option>
                            {% else %}
                                <option value="{{ city.id }}">{{ city.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Chỉnh sửa</button>
            </form>
        </div>
    </div>
{% endblock content %}