{% extends "home.html" %}
{% block content %}
    <div class="row">
        <div class="col-9">
            <h3>Danh sách các thành phố</h3>
            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th width="50">#</th>
                          <th scope="col">Tên thành phố</th>
                          <th scope="col">Mã</th>
                          <th width="200">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for city in cities %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ city.name }}</td>
                                <td>{{ city.code }}</td>
                                <td>
                                    <a href="{{ url_for('detail_city', id = city.id) }}"><button type="button" class="btn btn-primary btn-sm">Chi tiết</button></a>
                                    <a href="{{ url_for('update_city', id = city.id) }}"><button type="button" class="btn btn-success btn-sm">Sửa</button></a>
                                    <a href="{{ url_for('destroy_city', id = city.id) }}"><button type="button" class="btn btn-danger btn-sm">Xóa</button></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-3 text-right">
            <a href="{{ url_for('store_city') }}"><button type="button" class="btn btn-primary btn-sm">Thêm mới</button></a>
        </div>
    </div>
{% endblock content %}
