<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">
    <style type="text/css" media="screen">
    html, body {
        font-size: 30px;
    }
    .center-xy {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
    }
    </style>
</head>
<body>
    <div class="container">
        <div class="copy-container center-xy">
            <p>
              404 - không tìm thấy tài nguyên
            </p>
            <span class="handle"></span>
        </div>
    </div>
</body>
</html>